* {
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  font-family: sans-serif;
  text-align: left;
  background: cornsilk;
}

.article {
  max-width: 680px;
  padding: 24px;
}

.article__lead {
  font-weight: 700;
  font-style: italic;
  font-family: serif;
  text-transform: uppercase;
}

.figure__caption {
  margin: 8px 0 0;
  font-style: italic;
  text-align: center;
}

.article__heading {
  margin: 0 0 1.5rem 0;
}

.article__heading--verified {
  color: palevioletred;
}
